<div class="ui container">
    <div class="ui borderless menu" id="menu">
        <div class="header item">
            <h1 class="title">DAN HOANG LE</h1>
        </div>
        <div class="right menu">
            <a class="item" ui-sref="work">PORTFOLIO</a>
            <a class="item" ui-sref="about">ABOUT</a>
        </div>
    </div>

    <div class="ui stackable equal width grid">
        <div class="column" id="welcome">
            <h1 class="welcomeHeader">WELCOME</h1>
            <p class="info">I build awesome websites.</p>
        </div>
        <div class="column" id="waitr" ui-sref="waitr">
            <img class="ui small centered image" id="waitrImg" src="../assets/img/iPhone 6+.png" alt="">
        </div>
    </div>

    <div class="ui stackable equal width grid">
        <div class="column" id="forage" ui-sref="favour">
            <img class="ui fluid centered image" id="favourImg" src="../assets/img/macbook pro retina.png" alt="">
        </div>
        <div class="column" id="favour" ui-sref="forage">
            <img class="ui fluid centered image" id="forageImg" src="../assets/img/large.png" alt="">
        </div>
    </div>
</div>