<div class="ui container">
    <i class="big chevron left icon" id="backBtn" ui-sref="work"></i>
    <div class="ui stackable grid">
        <div class="seven wide column">
            <h1 class="ui header" id="forageProHeader">FORAGE</h1>
            <div class="ui vertical segment">
                <h1>ABOUT</h1>
                <p class="forageSent">Forage has one signup page where users/owners can switch back and forth without having to make two separate accounts. This makes it convenient if someone would like to become a food truck owner or want to use the app to search for food trucks. Users can send private messages, order online, receive updates through text messages, and review different food trucks. Owners can turn on their location, add the menu, post hours of operation, and receive private messages. Forage makes it easier for food trucks to promote their business by customers seeing their location and being able to communicate with them through the website. </p>
            </div>
            <div class="ui vertical segment">
                <h1>RESPONSIBILITY</h1>
                <p class="forageSent">The first part of the project I did was brainstorm on a large sheet of paper was the first step of the project. I wrote the views, end points to connect the front end of the application, and data schema. After planning the project I began researching new technology to implement it on the project. The next step was to connect the front end to the back end. The mock up was the last step in planning the project that helped guide me from start to finish with coding. </p>
            </div>
            <div class="ui vertical segment">
                <h1>TECHNOLOGY</h1>
                <p class="forageSent">The technology that waitr was built with was <strong class="forageStrong">MongooseJS, Express.js, AngularJS, Node.js, Socket.io, Ionic, and Moment.js</strong></p>
                <a class="ui button" id="forageBtn">VIEW LIVE WEBSITE</a>
            </div>
        </div>
        <div class="eight wide column">
            <img class="ui medium centered image" src="../assets/img/iPhone 6+.png" alt="">
            <img class="ui medium centered image" src="../assets/img/wait list.png" alt="">
            <img class="ui medium centered image" src="../assets/img/profile.png" alt="">
        </div>
    </div>
</div>