<div class="ui container">
    <div class="ui borderless menu" id="menu">
        <div class="header item">
            <h1 class="title">DAN HOANG LE</h1>
        </div>
        <div class="right menu">
            <a class="item" ui-sref="work">PORTFOLIO</a>
            <a class="item" ui-sref="about">ABOUT</a>
        </div>
    </div>
    <div class="ui stackable grid" id="about">
        <div class="eight wide column">
            <img class="ui large image" src="../assets/img/FullSizeRender.jpg" alt="">
        </div>
        <div class="eight wide column">
            <h1 id="aboutHeader">Hello</h1>
            <p class="info">I’m a 25-year-old, motivated web developer. I studied Database, Web Design, and Programming; I am a compulsive self-learner, which is why I am always curious and experience are the results to constantly learning and experimenting new technology.</p>
            <h1>What I can do for you?</h1>
            <p class="info">I'd love to bring any awesome design ideas to life. I have a passion for creating awesome, responsive, modern websites for projects that huge and small.</p>
            <p class="info">New technology is being implemented everyday and I am always learning and applying to my website to keep up.</p>
            <p class="info">If you like my projects or just want to have a chat please contact me!</p>
            <a href="">
                <i class="huge mail outline icon"></i>
            </a>
            <a href="https://github.com/dhl1337">
                <i class="huge github square icon"></i>
            </a>
            <a href="https://www.linkedin.com/in/danhoangle">
                <i class="huge linkedin square icon"></i>
            </a>
        </div>
    </div>
</div>